body,html{
  margin: 0;
  height: auto;
  width: auto;
}
.box{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar-container{
  display: block;
  text-align: center;
  border: 2px solid red;
  height: 400px;
  width: 350px;
}
.icon{
  border: 2px solid orange;
  padding: auto;
  margin-top: 15px;
  
}
.form-box{
  display: block;
  border: 1px solid blue;
}
.form-box h2,p{
  border: 1px solid green;
  padding: 0;
  margin: 0;
}
.form-box input{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 8px;
  
  border: 1px solid grey;
  border-radius: 5px;
}



