body,html{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

body {
  background-image: url('/wallpapers/peakpx1.jpg');
  background-repeat: no-repeat;
}

.site-container {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100vh;
  width: 80vw;
}

.top-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: rgb(30, 32, 32);
}

.logo-name{
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.account-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25px;
  transform: scale(1);
  transition:0.3s;
  border-radius: 5px;
}

.account-button:hover {
  color: rgb(255, 187, 0);
  cursor: pointer;
  transform: scale(1.1);
  transition:0.5s;
}

.borderline {
  padding: 0px;
  margin: 0px;
  color: black;
  height: 3px;
  background-color: greenyellow;
  border-color: greenyellow;
}

.main-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 150px;
}

.form-container {
  display:block;
  justify-content:end;
  height: 450px;
  width: 350px;
  margin: 100px;
  background-color:rgb(30, 32, 32);
  text-align: center;
  border-style: solid;
  border-radius: 15px;
}

.in-form {
  display: flex;
  justify-content: center;
}

form {
  display:block;
  height: 300px;
  justify-content: center;
  margin-top: 50px;
}

input {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0px auto 30px auto;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  font-size: large;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: greenyellow;
  border: 1px solid rgb(255, 255, 255);
  color: black;
  font-weight: 600;
}

.register-button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 50px;
  background-color: rgb(38, 111, 160);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
  font-size: large;
}

a{
  color: rgb(38, 111, 160);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration:underline;
}