/* GENERAL FLEX CLASSES */
.flex{
  display: flex;
}
.box{
  display: block;
}
.justify-center{
  justify-items: center;
}
.justify-space{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}

/* GENERAL COLOR PALET AND BACKGROUND */
.background-primary-color{
  background-color: rgb(30, 32, 32);
}
.background-secondary-color{
  background-color: white;
}
.primary-color{
  color: white;
}
.secondary-color{
  color: white;
}
.third-color{
  color: white;
}
.fourth-color{
  color: white;
}
.primary-border{
  border: 1px solid black;
  border-radius: 0px;
  border-color: black;
}
.secondary-border{
  border: 1px solid black;
  border-radius: 0px;
  border-color: black;
}

/* DISTANSES - MARGINS - PADDINGS */
.xs-padding{
  padding: 5px;
}
.s-padding{
  padding: 10px;
}
.m-padding{
  padding: 50px;
}
.l-padding{
  padding: 150px;
}
.xl-padding{
  padding: 200px;
}
.xs-margin{
  margin: 5px;
}
.s-margin{
  margin: 10px;
}
.m-margin{
  margin: 50px;
}
.l-margin{
  margin: 150px;
}
.xl-margin{
  margin: 200px;
}
/* custom top-bot-left-right paddings and margins */


/* FONT SIZE - COLOR - WEIGHT */
.font-xs-size{
  font-size: x-small;
}
.font-s-size{
  font-size: small;
}
.font-m-size{
  font-size: medium;
}
.font-l-size{
  font-size: large;
}
.font-xl-size{
  font-size: x-large;
}
.font-weight-100{
  font-weight: 100;
}
.font-weight-200{
  font-weight: 200;
}
.font-weight-300{
  font-weight: 300;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-500{
  font-weight: 500;
}
.font-weight-600{
  font-weight: 600;
}
.font-weight-700{
  font-weight: 700;
}
.font-weight-800{
  font-weight: 800;
}

/* HEIGHT - WIDTH SIZES */
.xs-box-h{
  height: 10px;
}
.s-box-h{
  height: 50px;
}
.m-box-h{
  height: 100px;
}
.l-box-h{
  height: 300px;
}
.xl-box-h{
  height: 500px;
}
.s-box-w{
  width: 50px;
}
.m-box-w{
  width: 100px;
}
.l-box-w{
  width: 200px;
}
.xl-box-w{
  width: 300px;
}
.auto-box-w{
  width: auto;
}
.auto-box-h{
  height: auto;
}

/* ANIMATIONS IDEAS */
.transform{
  transform: scale();
  transform: rotate(0deg);
  transform: translate(10px);
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(0, 1, 1, 0, 0, 0);
}

body,html{
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}
.nav-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(30, 32, 32);
  position:static;
}

.logo-name{
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.account-button {
  color: rgb(0, 0, 0);
  background-color: greenyellow;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25px;
  transition:0.3s;
  border-radius: 5px;
  transform: translate(0px);
}

.account-button:hover {
  color: white;
  cursor: pointer;
  transition:0.5s;
  transform: translate(10px);
  background-color: black;
}

.borderline {
  padding: 0px;
  margin: 0px;
  color: black;
  height: 3px;
  background-color: greenyellow;
  border-color: greenyellow;
}

.main-container {
  display:flex;
  justify-content: center;
  background-image: url('/wallpapers/minimal.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 380px;
  background-color:rgb(30, 32, 32);
  border: 3px solid greenyellow;
  border-radius: 20px;
}

.in-form {
  display: flex;
  align-content: center;
}

form {
  display:block;
  height: 300px;
}

input {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0px auto 20px auto;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  font-size: large;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: greenyellow;
  border: 1px solid rgb(255, 255, 255);
  color: black;
  font-weight: 600;
}

.register-button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 50px;
  background-color: rgb(38, 111, 160);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
  font-size: large;
}

a{
  color: rgb(38, 111, 160);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration:underline;
}